.counter {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 200px;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.incr {
    color: #2f532f;
    border: 1px solid #4f834f;

    background-color: #9cfc9c;
    box-shadow: 0 3px 0px #4f834f;
}
.decr {
    color: #3e2222;
    background-color: #fc9c9c;
    margin-right: 15px;
    border: 1px solid #6b4242;
    box-shadow: 0 3px 0px #6b4242;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;

    &:active {
        position: relative;
        top: 2px;
    }
}

.btns {
    
}