* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #eacbfb;
    .counter {
        margin-top: 150px;
    }

    .modal-window {
        margin-top: 250px;
    }

    .Quiz {
        margin-top: 150px;
    }
}

ul, ol {
    list-style: none;
}

a,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

#app {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    max-width: 200px;

    margin-top: 150px;
}

nav {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 30px;

    a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #3c005c;
        text-shadow: 0 3px 18px #640e92;

        &:hover {
            color: #aaa703;
            text-shadow: 0 3px 18px #adc212;
        }
    }
}

img {
    display: inline-block;

    width: 100%;
    height: 100%;
}